{% extends 'common/base.html' %}
{% load static %}

{% block title %}
    Photographers
{% endblock %}

{% block content %}
    <h1 class="zagolovok">The best wedding photographers in the world</h1>

    {% for photographer in photographers %}
        {% for photographer_plus in photographers_plus %}
            {% if photographer_plus.user_id == photographer.id %}

                <div class="photographer1">
                    <div class="photographer1_text">
                        <a href="{% url "profile" id=photographer.id %}"
                           class="href">{{ photographer.first_name }} {{ photographer.last_name }}</a>
                    </div>
                    <div class="photographer1_avatar">
                        {% for avatar in avatars %}
                            {% if avatar.user_id == photographer.id %}
                                <a href="{% url "profile" id=photographer.id %}"
                                   class="href"><img style="max-width: 180px; border-radius: 20px"
                                                     src="{{ avatar.image.url }}" alt=""></a>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div class="photographer2">
                    <div class="photographer2_country">
                        <p>{{ photographer_plus.country }}</p>
                    </div>
                    <div class="scroller">
                        {% for foto in portfolio %}
                            {% if foto.user_id == photographer.id %}
                                <div class="divBlock">
                                    <a href="{% url "foto_photographer" id=foto.user_id pk=foto.id %}"><img style="max-height: 300px; max-width: 300px" src="{{ foto.image_url.url }}" alt=""></a>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="photographer_price">
                        <p class="card-text"><small class="text-muted">{{ photographer_plus.price }} $
                            for {{ photographer_plus.hour }} hour</small></p>
                    </div>
                    <div class="photographer_visit_profile">
                        <a href="{% url "profile" id=photographer.id %}" class="href">Visit profile</a>
                    </div>
                    <div class="photographer_phone">
                        {{ photographer_plus.phone }}
                    </div>
                </div>
                <div class="clear"></div>
                <div class="probil"></div>

            {% endif %}
        {% endfor %}
    {% endfor %}

{% endblock %}