{% extends 'common/base.html' %}

{% block title %}
    Sign_up
{% endblock %}

{% block content %}
    <div class="container py-4">
        <div class="card w-50 mx-auto">
            <div id="loginBlock" class="card-header">
                <h4 class="card-title" style="margin-left: 40%">Register</h4>
            </div>
            <div class="card-body">
                <form class="form" role="form" action="{% url 'change_password' id=user.id %}" method="post">
                    {% csrf_token %}
                    {% if user.is_authenticated %}
                        <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">Password</label>
                            <input type="password" class="form-control" {% if user %} value="{{ user.password }}" {% endif %} id="password" name="password">
                        </div>
                    {% else %}
                        <div><p>Sorry, you must to register</p></div>
                    {% endif %}
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}