{% extends 'common/base.html' %}

{% block title %}
    foto
{% endblock %}

{% block content %}
    <div>
        <div class="foto_profile0">
            <div class="foto_profile1">
                <img style="max-width: 50px" src="{{ avatar.image.url }}" alt="">
            </div>
            <div class="foto_profile2">
                <a href="{% url "profile" id=photographer.id %}"
                   class="href">{{ photographer.first_name }} {{ photographer.last_name }}</a>
            </div>
            <div class="foto_profile3">
                <p>{{ photographer.username }}</p>
            </div>
        </div>
        <div class="foto_profile4">
            {% for foto in portfolio %}
                {% if foto.user_id == photographer.id %}
                    <p class="pBlock">
                        <a href="{% url "foto_profile" id=foto.user_id pk=foto.id %}"><img style="max-width: 135px; max-height: 135px" src="{{ foto.image_url.url }}" class="rounded float-start"
                                     alt="..."></a>
                    </p>
                {% endif %}
            {% endfor %}
        </div>

        <div class="clear"></div>
        <div class="foto_profile5">
            <span>
                <img class="displayed" style="max-height: 800px; max-width: 1300px; border-radius: 5px" src="{{ foto.image_url.url }}" alt="">
            </span>
        </div>
        <div class="heard">
            <p class="blocktext">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-heart"
                     viewBox="0 0 16 16">
                    <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                </svg>
            </p>
        </div>
        {% if foto.user_id == user.id %}
            <div class="delete_foto">
                <a href="{% url "delete_foto" id=foto.id %}" class="btn btn-danger">Delete this foto</a>
            </div>
        {% endif %}

        <div class="comment">
            {% for comment in comments %}
                <div class="comment">
                    {% for avatar_comment in avatars_comment %}
                        {% if avatar_comment.user_id == comment.user_id %}
                            <div class="foto_profile1">
                                <a href="{% url "profile" id=comment.user.id %}"><img style="max-width: 50px"
                                                                                      src="{{ avatar_comment.image.url }}"
                                                                                      alt=""></a>
                            </div>
                        {% endif %}
                    {% endfor %}
                    <div class="forum_detail1">
                        <a href="{% url "profile" id=comment.user.id %}">{{ comment.user.first_name }} {{ comment.user.last_name }}
                            * {{ comment.user.username }}</a>
                    </div>
                    <div class="forum_detail2">
                        <p>:</p>
                    </div>
                    <div class="forum_detail3">
                        <p>{{ comment.full_text }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>

        <form method="POST" action="{% url 'portfolio_comment_crate' id=foto.id %}">
            {% csrf_token %}
            <div class="mb-3">
                <label for="full_text" class="form-label">Your comment</label>
                <input type="text" class="form-control" name="full_text" id="full_text" aria-describedby="title">
            </div>

            <button class="btn btn-success" type="submit">Add comment</button>
            <br>
            <span>{{ error }}</span>
        </form>

    </div>
{% endblock %}