{% extends 'common/base.html' %}

{% block title %}
    Home page
{% endblock %}

{% block content %}

    <div class="zagolovok">
        <h1>The best photos of the week</h1>
    </div>

    <div class="sectionBlock">
        <div class="home_photo1">
            {% if fotos1 %}
                <a href="{% url "foto_profile" id=fotos1.user_id pk=fotos1.id %}"><img src="{{ fotos1.image_url.url }}" style="max-height: 600px; max-width: 747px;margin-left: auto; margin-right: auto border-radius: 5px"></a>
            {% endif %}
        </div>
        <div class="home_photo2">
            {% if fotos2 %}
                <a href="{% url "foto_profile" id=fotos2.user_id pk=fotos2.id %}"><img src="{{ fotos2.image_url.url }}" style="max-height: 600px; max-width: 450px; border-radius: 5px"></a>
            {% endif %}
        </div>
        <div class="home_photo1">
            {% if fotos3 %}
                <a href="{% url "foto_profile" id=fotos3.user_id pk=fotos3.id %}"><img src="{{ fotos3.image_url.url }}" style="max-height: 600px; max-width: 747px;margin-left: auto; margin-right: auto border-radius: 5px"></a>
            {% endif %}
        </div>
    </div>
    <div class="sectionBlock">
        <div class="home_photo4">
            {% if fotos4 %}
                <a href="{% url "foto_profile" id=fotos4.user_id pk=fotos4.id %}"><img src="{{ fotos4.image_url.url }}" style="max-height: 600px; max-width: 400px; border-radius: 5px"></a>
            {% endif %}
        </div>
        <div class="home_photo5">
            {% if fotos5 %}
                <a href="{% url "foto_profile" id=fotos5.user_id pk=fotos5.id %}"><img src="{{ fotos5.image_url.url }}" style="max-height: 600px; max-width: 600px;margin-left: auto; margin-right: auto border-radius: 5px"></a>
            {% endif %}
        </div>
        <div class="home_photo5">
            {% if fotos6 %}
                <a href="{% url "foto_profile" id=fotos6.user_id pk=fotos6.id %}"><img src="{{ fotos6.image_url.url }}" style="max-height: 600px; max-width: 600px;margin-left: auto; margin-right: auto border-radius: 5px"></a>
            {% endif %}
        </div>
        <div class="home_photo4">
            {% if fotos7 %}
                <a href="{% url "foto_profile" id=fotos7.user_id pk=fotos7.id %}"><img src="{{ fotos7.image_url.url }}" style="max-height: 600px; max-width: 400px;margin-left: auto; margin-right: auto border-radius: 5px"></a>
            {% endif %}
        </div>
    </div>
    <div class="sectionBlock">
        <div class="home_photo1">
            {% if fotos8 %}
                <a href="{% url "foto_profile" id=fotos8.user_id pk=fotos8.id %}"><img src="{{ fotos8.image_url.url }}" style="max-height: 600px; max-width: 748px;margin-left: auto; margin-right: auto border-radius: 5px"></a>
            {% endif %}
        </div>
        <div class="home_photo2">
            {% if fotos9 %}
                <a href="{% url "foto_profile" id=fotos9.user_id pk=fotos9.id %}"><img src="{{ fotos9.image_url.url }}" style="max-height: 600px; max-width: 450px; border-radius: 5px"></a>
            {% endif %}
        </div>
        <div class="home_photo1">
            {% if fotos10 %}
                <a href="{% url "foto_profile" id=fotos10.user_id pk=fotos10.id %}"><img src="{{ fotos10.image_url.url }}" style="max-height: 600px; max-width: 748px;margin-left: auto; margin-right: auto border-radius: 5px"></a>
            {% endif %}
        </div>
    </div>
    <div class="sectionBlock">
        <div class="home_photo5">
            {% if fotos11 %}
                <a href="{% url "foto_profile" id=fotos11.user_id pk=fotos11.id %}"><img src="{{ fotos11.image_url.url }}" style="max-height: 600px; max-width: 600px;margin-left: auto; margin-right: auto border-radius: 5px"></a>
            {% endif %}
        </div>
        <div class="home_photo4">
            {% if fotos12 %}
                <a href="{% url "foto_profile" id=fotos12.user_id pk=fotos12.id %}"><img src="{{ fotos12.image_url.url }}" style="max-height: 600px; max-width: 400px; border-radius: 5px"></a>
            {% endif %}
        </div>
        <div class="home_photo5">
            {% if fotos13 %}
                <a href="{% url "foto_profile" id=fotos13.user_id pk=fotos13.id %}"><img src="{{ fotos13.image_url.url }}" style="max-height: 600px; max-width: 600px;margin-left: auto; margin-right: auto border-radius: 5px"></a>
            {% endif %}
        </div>
    </div>
    <div class="sectionBlock">
        <div class="home_photo14">
            {% if fotos14 %}
                <a href="{% url "foto_profile" id=fotos14.user_id pk=fotos14.id %}"><img src="{{ fotos14.image_url.url }}" style="max-height: 600px; max-width: 410px; border-radius: 5px"></a>
            {% endif %}
        </div>
        <div class="home_photo1">
            {% if fotos15 %}
                <a href="{% url "foto_profile" id=fotos15.user_id pk=fotos15.id %}"><img src="{{ fotos15.image_url.url }}" style="max-height: 600px; max-width: 748px;margin-left: auto; margin-right: auto border-radius: 5px"></a>
            {% endif %}
        </div>
        <div class="home_photo14">
            {% if fotos16 %}
                <a href="{% url "foto_profile" id=fotos16.user_id pk=fotos16.id %}"><img src="{{ fotos16.image_url.url }}" style="max-height: 600px; max-width: 410px; border-radius: 5px"></a>
            {% endif %}
        </div>
    </div>
    <div class="sectionBlock">
        <div class="home_photo5">
            {% if fotos17 %}
                <a href="{% url "foto_profile" id=fotos17.user_id pk=fotos17.id %}"><img src="{{ fotos17.image_url.url }}" style="max-height: 600px; max-width: 600px;margin-left: auto; margin-right: auto border-radius: 5px"></a>
            {% endif %}
        </div>
        <div class="home_photo4">
            {% if fotos18 %}
                <a href="{% url "foto_profile" id=fotos18.user_id pk=fotos18.id %}"><img src="{{ fotos18.image_url.url }}" style="max-height: 600px; max-width: 400px; border-radius: 5px"></a>
            {% endif %}
        </div>
        <div class="home_photo5">
            {% if fotos19 %}
                <a href="{% url "foto_profile" id=fotos19.user_id pk=fotos19.id %}"><img src="{{ fotos19.image_url.url }}" style="max-height: 600px; max-width: 600px;margin-left: auto; margin-right: auto border-radius: 5px"></a>
            {% endif %}
        </div>
    </div>

    <div class="clear"></div>

    <div class="zagolovok">
        <h4 style="margin-top: 20px; margin-bottom: 20px; font-weight: normal">Short interviews with photographers</h4>
    </div>

    <div class="sectionBlock">
        {% for userg in usersg %}
            {% for avatar in avatars %}
                {% if avatar.user_id == userg.id %}
                    <div class="home_interview">
                        <p class="home_interview_1">{{ userg.first_name }} {{ userg.last_name }}</p>
                        <div class="home_interview_image">
                            <img class="avatar_interview" src="{{ avatar.image.url }}">
                        </div>

                        {% for interview in interviews %}
                            {% if interview.cat_user_id == userg.id %}
                                {% for question in my_list %}
                                    {% if interview.cat_user_id == question.cat_user_id %}
                                        {% for category in categories %}
                                            {% if question.cat_category_id == category.id %}
                                                <p style="font-weight: bold; margin-left: 20px; margin-top: 15px">- {{ category.description }}</p>
                                            {% endif %}
                                        {% endfor %}
                                        <p style="margin-left: 20px">- {{ question.description }}</p>
                                    {% endif %}
                                {% endfor %}
                                <p style="margin-left: 20px">...</p>
                                <div>
                                    <a href="{% url "open_interview" id=interview.id %}"><p style="text-align: center; margin-top: 20px">Read interview</p></a>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </div>

    <div class="clear"></div>

    <div class="zagolovok">
        <h4 style="margin-top: 20px; margin-bottom: 20px; font-weight: normal">New forum subjects</h4>
    </div>

    {% if forums %}
        <div class="sectionBlock">
            {% for forum in forums %}
                <div class="home_forum">
                    <a href="{% url "forum_detail" id=forum.id %}"><p style="text-decoration: none; margin-top: 20px">{{ forum.title }}</p></a>
                </div>
            {% endfor %}
        </div>
    {% endif %}

    <div class="clear"></div>

    <div style="margin-top: 50px">
        <p style="text-align: center">Photographers from all over the world:</p>
        {% for user in users %}
            <p style="float: left">{{ user.country }}</p>
            <p style="float: left; margin-right: 20px">, </p>
        {% endfor %}
    </div>

{% endblock %}