{% extends 'common/base.html' %}

{% block title %}
    foto
{% endblock %}

{% block content %}
    <div>
        <div class="foto_profile1">
            <img style="max-width: 50px" src="{{ avatar.image.url }}" alt="">
        </div>
        <div class="foto_profile2">
            <a href="{% url "profile" id=photographer.id %}"
               class="href">{{ photographer.first_name }} {{ photographer.last_name }}</a>
        </div>
        <div class="foto_profile3">
            <p>@{{ photographer.username }}</p>
        </div>

        <div class="foto_profile4">
            {% for foto in portfolio %}
                    <p class="pBlock">
                        <a href="{% url "foto_portfolio" id=foto.user_id pk=foto.id %}"><img style="max-width: 135px; max-height: 135px" src="{{ foto.image_url.url }}" class="rounded float-start"
                                     alt="..."></a>
                    </p>
            {% endfor %}
        </div>
        <div class="clear"></div>
        <div class="foto_profile5">
            <span>
                <img class="displayed" style="max-height: 800px; border-radius: 5px" src="{{ foto.image_url.url }}" alt="">
            </span>
        </div>
        {% if foto.user_id == user.id %}
            <div class="delete_foto">
                <a href="{% url "delete_foto" id=foto.id %}" class="btn btn-danger">Delete this foto</a>
            </div>
        {% endif %}

        <div class="comment">
            {% for comment in comments %}
                <div class="comment">
                    {% for avatar_comment in avatars_comment %}
                        {% if avatar_comment.user_id == comment.user_id %}
                            <div class="foto_profile1">
                                <a href="{% url "profile" id=comment.user.id %}"><img style="max-width: 50px" src="{{ avatar_comment.image.url }}" alt=""></a>
                            </div>
                        {% endif %}
                    {% endfor %}
                    <div class="forum_detail1">
                        <a href="{% url "profile" id=comment.user.id %}">{{ comment.user.first_name }} {{ comment.user.last_name }} * {{ comment.user.username }}</a>
                    </div>
                    <div class="forum_detail2">
                        <p>:</p>
                    </div>
                    <div class="forum_detail3">
                        <p>{{ comment.full_text }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>

        <form method="POST" action="{% url 'portfolio_comment_crate' id=foto.id %}">
            {% csrf_token %}
            <div class="mb-3">
                <label for="full_text" class="form-label">Your comment</label>
                <input type="text" class="form-control" name="full_text" id="full_text" aria-describedby="title">
            </div>

            <button class="btn btn-success" type="submit">Add comment</button>
            <br>
            <span>{{ error }}</span>
        </form>

    </div>
{% endblock %}