* {
    text-decoration: gold;
}

body {
    background: #ffffff;
}

.zagolovok {
    color: #000000;
    font-weight: lighter;
}

.href {
    text-decoration: none;
}

.href:hover {
    color: #5f1a1a;
}

.href:active {
    color: black;
}

.pre_link {
    color: black;
}

#photographer {
    font-weight: normal;
    font-size: 150%;
    /*text-align: center;*/
}

.profile_0 {
    /*border: 1px solid silver;*/
    margin-top: 10px;
    margin-bottom: 10px;
}

.profile_1 {
    width: 20%;
    height: 260px;
    padding: 20px;
    float: left;
}

.profile_2 {
    width: 80%;
    height: 260px;
    padding: 10px;
    float: right;

}

.photo_data_10 {
    margin-top: 20px;
}

.profile_3 {
    margin-top: 20px;
}

.photo_data_01 {
    float: left;
}

.photo_data_02 {
    float: left;
    margin-left: 10px;
    font-weight: lighter;
}

.clear {
    clear: both;
}

.photo_data_07 {
    font-size: 150%;
}

.photographer_data0 {
    margin-top: 15px;
    margin-bottom: 17px;
    text-align: center;
}

.photographer_data2 {
    float: left;
}

.photographer_data5 {
    margin-left: 100px;
}

.photographer_data4 {
    float: left;
    padding: 10px;
}

.photographer_data6 {
    margin-left: 120px;
    padding: 10px;
}

.spanBlock {
    display: block;
    height: 300px;
    width: 300px;
    border: 1px solid gray;
    border-radius: 5px;
    margin: 10px;
    overflow: hidden;
    float: left;
}

.portfolio_image{
    max-width: 320px;
    max-height: 320px;
}

.foto_big {
    max-height: 300px;
}

IMG.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto;
}