* {
    text-decoration: none;
}

.blocktext {
    margin-left: auto;
    margin-right: auto;
}

.create_forum {
    text-align: center;
}

.forum_detail1 {
    float: left;
    margin-right: 10px;
}

.forum_detail2 {
    float: left;
    margin-right: 10px;
}

.forum_detail3 {
    float: left;
    margin-right: 10px;
}

.comment {
    padding-top: 10px;
    padding-bottom: 10px;
}

body {
    background: #ffffff;
}

.zagolovok {
    color: #000000;
    font-weight: lighter;
    text-align: center;
}

.href {
    text-decoration: none;
}

.href:hover {
    color: #5f1a1a;
}

.href:active {
    color: black;
}

.pre_link {
    color: black;
}

#photographer {
    font-weight: normal;
    font-size: 150%;
}

.profile_0 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.profile_1 {
    width: 20%;
    height: 260px;
    padding: 20px;
    float: left;
}

.profile_2 {
    width: 80%;
    height: 260px;
    padding: 10px;
    float: right;

}

.photo_data_10 {
    margin-top: 20px;
}

.profile_3 {
    margin-top: 20px;
}

.photo_data_01 {
    float: left;
}

.photo_data_02 {
    float: left;
    margin-left: 10px;
    font-weight: lighter;
}

.clear {
    clear: both;
}

.photo_data_07 {
    font-size: 150%;
}

.photographer_data0 {
    margin-top: 15px;
    margin-bottom: 17px;
    text-align: center;
}

.photographer_data2 {
    float: left;
}

.photographer_data5 {
    margin-left: 100px;
}

.photographer_data4 {
    float: left;
    padding: 10px;
}

.photographer_data6 {
    margin-left: 120px;
    padding: 10px;
}

.spanBlock {
    display: block;
    height: 300px;
    width: 300px;
    /*border: 1px solid gray;*/
    border-radius: 5px;
    margin: 10px;
    overflow: hidden;
    float: left;
}

.portfolio_image{
    max-width: 320px;
    max-height: 320px;
}

.foto_big {
    max-height: 300px;
}

IMG.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}

.responsive img {
    display: block;
    width: auto;
    /*max-width: 100%;*/
    height: auto;
    border: 1px solid black;
}

.delete_foto {
    text-align: center;
    margin-top: 30px;
}

.foto_profile4 {
    display: block;
    padding-top: 20px;
    border: 1px solid white;
    height: 120px;
    width: 100%;
    overflow: hidden;
}

.foto_profile4Block {
    border: 1px solid black;
}

.pBlock {
    display: block;
    height: 90px;
    width: 90px;
    /*border: 1px solid black;*/
    border-radius: 5px;
    margin: 4px;
    overflow: hidden;
    float: left;
}

.foto_profile4 .pBlock {
    /*border: 1px solid black;*/
}

.foto_profile1 {
    float: left;
    padding-right: 10px;
}

.foto_profile2 {
    font-size: 150%;
    float: left;
    padding-right: 10px;
}

.foto_profile5 {
    padding-top: 15px;
}

.photographer1 {
    width: 20%;
    height: 335px;
    border: 1px solid white;
    float: left;
}

.photographer2 {
    width: 80%;
    height: 335px;
    border: 1px solid white;
    margin-left: 20%;
}

.probil {
    padding-bottom: 80px;
}

.photographer1_text {
    font-size: 150%;
    text-align: center;
    margin-top: 20px;
}

.photographer1_avatar {
    text-align: center;
    margin-top: 20px;
}

.photographer2_country {
    margin-left: 45px;
    margin-top: 10px;
    font-size: 150%;
    font-weight: lighter;
}

.photographer2_portfolio {
    margin-left: 2px;
}

.photographer_price {
    padding-left: 45px;
    padding-top: 10px;
    float: left;
    font-size: 150%;
    font-weight: bold;
}

.photographer_phone {
    float: right;
    padding-right: 45px;
    padding-top: 10px;
    font-size: 150%;
    font-weight: lighter;
}

.photographer_visit_profile {
    float: right;
    padding-right: 20px;
    padding-top: 10px;
    font-size: 150%;
}

.divBlock {
    display: block;
    height: 200px;
    width: 200px;
    margin-left: 5px;
    overflow: hidden;
    float: left;
    border-radius: 5px
}

/* Scroller for photographers */
.scroller {
  text-align: left;
  width: 1030px;
  overflow-x: scroll;
  display: flex;
  box-sizing: border-box;
  scroll-snap-type: x mandatory;
}

.scroller > div {
  flex: 0 0 200px;
  width: 250px;
  background-color: #ffffff;
  color: #fff;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  scroll-snap-align: end;
}

.foto_portfolio {
    background-color: black;
}

.foto_photographer01 {
    padding-top: 80px;
}

/* Button exit */
.exit {
    text-align: right;
    padding-right: 30px;
    padding-top: 20px;
}

p.blocktext {
    margin-top: 15px;
    padding-left: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 6em
}

/* Slideshow container for photographer*/
.slideshow-container {
    display: block;
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .prev, .next, .text {
        font-size: 11px
    }
}

.image_portfolio_photographer {
    margin-left: auto;
    margin-right: auto;
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  border-radius: 5px;
}

.button1 {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.photo_book {
    border: 1px solid white;
    width: 321px;
    height: 400px;
    float: left;
}

.photo_book_title {
    text-align: center;
    margin-top: 10px;
    font-size: 150%;
}

.photo_book_title a {
    text-decoration: none;
}

.photo_book_photographer {
    text-align: center;
}

.photo_book_photographer a {
    text-decoration: none;
    font-size: 150%;
}

.sectionBlock .home_photo1 {
    display: block;
    height: 500px;
    width: 400px;
    margin: 10px;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid white;
}

.sectionBlock .home_photo2 {
    display: block;
    height: 300px;
    width: 400px;
    margin: 10px;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid white;
}

.sectionBlock .home_photo4 {
    display: block;
    height: 245px;
    width: 400px;
    margin: 10px;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid white;
}

.sectionBlock .home_photo5 {
    display: block;
    height: 400px;
    width: 400px;
    margin: 10px;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid white;
}

.sectionBlock .home_photo14 {
    display: block;
    height: 272px;
    width: 400px;
    margin: 10px;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid white;
}

.sectionBlock .home_interview {
    display: block;
    height: 500px;
    width: 400px;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid black;
    overflow: hidden;
    float: left;
}

.sectionBlock .home_forum {
    display: block;
    height: 100px;
    width: 400px;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid white;
    overflow: hidden;
    float: left;
    text-align: center;
    background-color: #e3e3e3;
}

.sectionBlock {
    float: left;
}

.home_forum .href {
    text-decoration: none;
}

.home_interview_1 {
    text-align: center;
    font-size: 150%;
}

.home_interview_image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    border: 1px solid black;
    width: 60%;
    height: 40%;
    overflow: hidden;
}

.avatar_interview {
    width: auto;
    height: 100%;
}

/*.responsive {*/
/*    display: block;*/
/*    margin-left: auto;*/
/*    margin-right: auto;*/
/*    border-radius: 5px;*/
/*    border: 1px solid white;*/
/*    width: auto;*/
/*    height: 120%;*/
/*    overflow: hidden;*/
/*    max-height: 800px;*/
/*}*/

/*.responsive_image {*/
/*    width: 100%;*/
/*    height: auto;*/
/*}*/