{% extends 'common/base.html' %}

{% block title %}
    Photo-book
{% endblock %}

{% block content %}
    <h1 class="zagolovok">New history on BestWed</h1>

    <div>
        <p style="text-align: center; font-size: 150%">Author: <a href="{% url "profile" id=user.id %}">{{ user.first_name }} {{ user.last_name }}</a></p>
    </div>

    <div class="photo_book_general">
        {% for photo in portfolio %}
            <div class="photo_book">
                <div>
                    <span class="spanBlock">
                        <a href="{% url "foto_photobook_daughter" id=photo.cut_id pk=photo.id %}">
                            <img class="portfolio_image" style="max-width: 450px; max-height: 450px"
                                 src="{{ photo.image.url }}" alt="...">
                        </a>
                    </span>
                </div>

                {% if photo.user_id == insider.id or insider.is_superuser == True %}
                    <div class="delete_story">
                        <a href="{% url "delete_story_portfolio" id=photo.id %}">Delete</a>
                    </div>
                {% endif %}


            </div>
        {% endfor %}
    </div>
    <div class="clear"></div>

    {% if insider.id == user.id or insider.is_superuser == True %}
    <div>
        <p>Add new photo</p>
    </div>
    <div class="photo_data_09">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.image }}
            <button>Submit</button>
        </form>
    </div>
    {% endif %}

    <div class="comment_general">
        <div class="content2">
            <p>Comments:</p>
        </div>
        <div class="comment">
            {% for comment in comments %}
                <div class="comment">
                    {% for avatar_comment in avatars_comment %}
                        {% if avatar_comment.user_id == comment.user_id %}
                            <div class="foto_profile1">
                                <a href="{% url "profile" id=comment.user.id %}"><img style="max-width: 50px"
                                                                                      src="{{ avatar_comment.image.url }}"
                                                                                      alt=""></a>
                            </div>
                        {% endif %}
                    {% endfor %}
                    <div class="forum_detail1">
                        <a href="{% url "profile" id=comment.user.id %}">{{ comment.user.first_name }} {{ comment.user.last_name }}
                            * {{ comment.user.username }}</a>
                    </div>
                    <div class="forum_detail2">
                        <p>:</p>
                    </div>
                    <div class="forum_detail3">
                        <p>{{ comment.full_text }}</p>
                    </div>
                    {% if comment.user_id == insider.id or user.is_superuser == True %}
                        <div class="forum_detail4">
                            <a href="{% url "delete_comment_photobook" id=comment.id %}">Delete</a>
                        </div>
                    {% endif %}

                <div class="clear"></div>
                </div>
            {% endfor %}
        </div>

        <form method="POST" action="{% url 'photo_book_comment_crate' id=foto.id %}">
            {% csrf_token %}
            <div class="mb-3">
                <label for="full_text" class="form-label">Your comment</label>
                <input type="text" class="form-control" name="full_text" id="full_text" aria-describedby="title">
            </div>

            <button class="btn btn-success" type="submit">Add comment</button>
            <p> </p>
            <br>
            <span>{{ error }}</span>
        </form>
    </div>
{% endblock %}