{% extends 'common/base.html' %}

{% block title %}
    Articles
{% endblock %}

{% block content %}
    <h1>Articles page</h1>

    <div class="create_forum">
        <a href="{% url "create_interview" %}" class="button button1">New interview</a>
    </div>

    <div class="search_forum">
        <p class="blocktext">
            <a href="{% url "find_interview" %}">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                     class="bi bi-search" viewBox="0 0 16 16">
                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                </svg>
            </a>
        </p>
    </div>

    {% for interview in interviews %}
        <div class="interview">
            <div style="margin-bottom: 30px">
                author:
                <a href="{% url "profile" id=interview.cat_user_id %}" class="href">{{ interview.cat_user }}</a>
            </div>
                {% for question in my_list %}
                    {% if question.cat_interview_id == interview.id %}
                        {% for category in categories %}
                            {% if category.id == question.cat_category_id %}
                                <p style="font-weight: bold">- {{ category.description }}</p>
                            {% endif %}
                        {% endfor %}
                        <p style="font-weight: lighter">- {{ question.description }}</p>
                    {% endif %}
                {% endfor %}
        <p>...</p>
        <a href="{% url "open_interview" id=interview.id %}" style="text-decoration: none">Open interview</a>
        <p> </p>
        </div>

    {% endfor %}
{% endblock %}