{% extends 'common/base.html' %}

{% block title %}
    Forum
{% endblock %}

{% block content %}
    {% if request.user.is_authenticated %}
        <h1>{{ forum.title }}</h1>
        <p>{{ forum.full_text }}</p><br>
        <p>Comments:</p>
        <div class="comment">
            {% for comment in comments %}
                <div class="comment">
                    {% for avatar in avatars %}
                        {% if avatar.user_id == comment.user_id %}
                            <div class="foto_profile1">
                                <a href="{% url "profile" id=comment.user.id %}"><img style="max-width: 50px" src="{{ avatar.image.url }}" alt=""></a>
                            </div>
                        {% endif %}
                    {% endfor %}
                    <div class="forum_detail1">
                        <a href="{% url "profile" id=comment.user.id %}">{{ comment.user.first_name }} {{ comment.user.last_name }} * {{ comment.user.username }}</a>
                    </div>
                    <div class="forum_detail2">
                        <p>:</p>
                    </div>
                    <div class="forum_detail3">
                        <p>{{ comment.full_text }}</p>
                    </div>
                    <div class="clear"></div>
                </div>
            {% endfor %}
        </div>

        <form method="POST" action="{% url 'comment_create' id=forum.id %}">
            {% csrf_token %}
            <div class="mb-3">
                <label for="full_text" class="form-label">Your comment</label>
                <input type="text" class="form-control" name="full_text" id="full_text" aria-describedby="title">
            </div>

            <button class="btn btn-success" type="submit">Add comment</button>
            <br>
            <span>{{ error }}</span>
        </form>
    {% else %}
        <div><h3>Іf you want to see all forum's articles, you have to register</h3></div>
    {% endif %}
{% endblock %}